@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,500,900');

body {
    overflow: hidden; /* Hide scrollbars */
  }

#landing {
    height: 100vh;
    background-color:#F7EDE2;
}

.landingimg {
    height: 40px;
}

.leggo {
    background-color:#F4ACB7;
    border: none;
    color: #F7EDE2;
    padding: 10px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Fira Sans";
    font-size: 40px;
    margin: 4px 2px;
    border-radius: 80px;
    text-decoration: none;
}

.leggo:hover {
    cursor: pointer;
    background-color:#FFCAD4;
    text-decoration: none;
    color: #f3f3f3;
    font-size: 40px;

}

.title {
    color: #DF8190;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 50px;
    text-align: center;
}

.desc {
    color: #B07B8B;
    font-family: "Fira Sans";
    font-size: 20px;
    margin: 10px;
}


/* Quiz Pages */

#quiz {
    height: 100vh;
    background-color: #FFCAD4;
}

.backRect {
    width:80vw;
    height:80vh;
    position: relative;
    top: 5vh;
    background-color: rgba(255, 255, 255, 0.521);
    border-radius: 40px;
}

.quizNumber {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #F4ACB7;
    position: relative;
    left: 31vw;
    top: -11vh;
    
}

.rowElement {
    position: relative;
    top: -50px;
}

.num {
    font-family: "Fira Sans";
    font-weight: 400;
    font-size: 180px;
    position: relative;
    top: -9vh;
    left: -0.5vw;
    color: #9D8189;
}

#qGraphic {
    height: 500px;
    width: 500px;
    position: relative;
    top: -40px;
    left: -170px;
}

#question {
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 30px;
    color: #9D8189;
    
}

/* .choices {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
} */

.choice-container {
    background-color:#D8E2DC;
    border: none;
    color: #9D8189;
    text-align: center;
    /* display: flex;
    justify-content: center; */
    display: inline-block;
    font-family: "Fira Sans";
    font-size: 25px;
    padding: 7px 70px;
    margin: 10px 8px;
    border-radius: 80px;
}

.choice-container:hover {
    cursor: pointer;
    background-color:#d8e2dcc2;
    color: #9d8189af;
}