@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,500,900');

body {
    overflow: hidden; /* Hide scrollbars */
  }

#landing {
    height: 100vh;
    background-color:#F7EDE2;
}

.landingimg {
    height: 40px;
}

.leggo {
    background-color:#D8E2DC;
    border: none;
    color: #9D8189;
    padding: 10px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Fira Sans";
    font-size: 40px;
    margin: 4px 2px;
    border-radius: 80px;
}

.title {
color: #F4ACB7;
font-family: "Montserrat";
font-weight: 900;
font-size: 100px;
}

.desc {
    color: #F4ACB7;
    font-family: "Fira Sans";
    font-size: 40px;
    margin: 50px;
}


/* Quiz Pages */

#quiz {
    height: 100vh;
    background-color: #FFCAD4;
}

.backRect {
    width:80vw;
    height:80vh;
    position: relative;
    top: 5vh;
    background-color: rgba(255, 255, 255, 0.521);
    border-radius: 40px;
}

.quizNumber {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #F4ACB7;
    position: relative;
    left: 31vw;
    top: -11vh;
    
}

.num {
    font-family: "Fira Sans";
    font-weight: 400;
    font-size: 180px;
    position: relative;
    top: -9vh;
    left: -0.5vw;
    color: #9D8189;
}